@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.bg-dark-purple {
  background-color: #2d2a3e;
}

.text-white {
  color: #ffffff;
}

.hover\:text-gray-400:hover {
  color: #b3b3b3;
}
